body {
    font-family: Arial;
    background: url('https://images.unsplash.com/photo-1523240795612-9a054b0db644') no-repeat center center/cover;
    height: 100vh;
    margin: 0;
}

/* FORM */
.form-container {
    width: 300px;
    margin: 100px auto;
    background: rgba(255,255,255,0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    border: none;
    background: green;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}

/* CHAT */
.chat-container {
    width: 400px;
    margin: 60px auto;
    background: rgba(255,255,255,0.85);
    padding: 20px;
    border-radius: 15px;
}

#chat-box {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.user {
    background: #e0f0ff;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
}

.bot {
    background: #e6ffe6;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
}